body {
 font-family: Arial, sans-serf;
 margin: 0;
 padding: 0;
}

.sidebar{
  background-color: black;
  width: 300px;
  height: 100vh;
  float: left;
  padding: 20px;
  box-shadow: 2px 0px 5px rgba(0,0,0,0.1);
}

.profile-image {
  width: 200px;
  border-radius: 50%;
  margin: 0 auto;
}

.social-icons {
  margin-top: 15px;
  display: flex;
}

.social-icons a {
  display: inline-flex; */Ensure he cricular background span the icon*/
  align-items: centre;
  justify-content: center;
  width: 48px;
  border-radius: 50%; */make ackground circle*/
  background-color: black; */back ground clour for circle*/
  margin: 0 5px;
  color:antiquewhite;
  text-decoration: none;
}
